@font-face {
	font-family: OldLondon;
	src: url(fonts/oldlondon.ttf);
}
@font-face {
	font-family: RoyalCrescent;
	src: url(fonts/royalcrescent.otf);
}

#main_title {
	text-align: center;
	letter-spacing: 10px;
	font-family: "RoyalCrescent";
}

#sub_title {
	text-align: center;
	font-family: "RoyalCrescent";
}
